<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">
<div th:fragment="searchFragment">
    <form th:action="@{/farm/farmGrownData}" method="get">
        <label>
            <select name="searchKey">
                <option value="mushroomGrowthIdx">버섯생육정보 고유코드</option>
                <option value="farmDataIdx">농가재배정보등록고유코드</option>
                <option value="cropIdx">작물 고유코드</option>
            </select>
        </label>
        <label>
            <input type="text" name="searchValue" placeholder="검색어를 입력해주세요">
        </label>
        <button type="submit">검색</button>
    </form>

</div>
</html>