<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
    <script>

    </script>
</th:block>

<th:block layout:fragment="customContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="my-4">관리자 목록</h2>
                <!--        <button id="addAdminBtn" class="btn btn-primary">운영자 정보</button>-->
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>회계관리 매입 고유번호</th>
                        <th>사업장 고유코드</th>
                        <th>재고물품고유번호</th>
                        <th>사업자 계약관리고유번호</th>
                        <th>거래일자</th>
                        <th>거래유형</th>
                        <th>거래단가</th>
                        <th>매입거래량</th>
                        <th>결제유형</th>
                        <th>금액</th>
                        <th>운영자아이디</th>
                        <th>수정날짜</th>
                        <th>매출 마감 그룹코드</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:unless="${fap == null}" th:each="l:${fap}">

                        <td th:text="${l.purchaseIdx}"></td>
                        <td th:text="${l.companyIdx}"></td>
                        <td th:text="${l.inventoryIdx}"></td>
                        <td th:text="${l.companyContractIdx}"></td>
                        <td th:text="${l.farmPurchaseDate}"></td>
                        <td th:text="${l.farmPurchaseType}"></td>
                        <td th:text="${l.farmPurchaseUnitPrice}"></td>
                        <td th:text="${l.farmPurchaseAmount}"></td>
                        <td th:text="${l.farmPurchasePayment}"></td>
                        <td th:text="${l.farmPurchaseSum}"></td>
                        <td th:text="${l.adminUsername}"></td>
                        <td th:text="${l.farmPurchaseUpdate}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>





