<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
    <script>

    </script>
</th:block>

<th:block layout:fragment="customContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="my-4">버섯 재배 관련 상세 정보</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>농가재배 정보 등록 고유코드</th>
                        <th>회원고유번호</th>
                        <th>사업자 고유번호</th>
                        <th>재배규모(배지기준)</th>
                        <th>일 버섯 생산량</th>
                        <th>매출 예상치</th>
                        <th>실 발생 매출</th>
                        <th>생산 일자</th>
                        <th>매출 발생 일자</th>
                        <th>예상 폐배지 수량</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:unless="${fd == null}" th:each="l:${fd}">

                        <td th:text="${l.farmDataIdx}"></td>
                        <td th:text="${l.username}"></td>
                        <td th:text="${l.companyInfoIdx}"></td>
                        <td th:text="${l.farmDataCompost}"></td>
                        <td th:text="${l.farmDataProduction}"></td>
                        <td th:text="${l.farmDataExpectedSale}"></td>
                        <td th:text="${l.farmDataActualSale}"></td>
                        <td th:text="${l.farmDataProductionDate}"></td>
                        <td th:text="${l.farmDataOccurrenceSaleDate}"></td>
                        <td th:text="${l.farmDataExpectedWasted}"></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>





