<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customJs">

</th:block>

<th:block layout:fragment="customContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="my-4">버섯 생육 최적 조건</h2>
                <!--        <button id="addAdminBtn" class="btn btn-primary">운영자 정보</button>-->
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>버섯 종류코드</th>
                        <th>작물 고유코드</th>
                        <th>온도</th>
                        <th>습도</th>
                        <th>산소</th>
                        <th>이산화탄소 농도</th>
                        <th>조도</th>
                        <th>수소 이온 농도지수</th>
                        <th>년도</th>
                        <th>사용유무</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:unless="${fc == null}" th:each="l:${fc}">

                        <td th:text="${l.mushroomIdx}"></td>
                        <td th:text="${l.cropIdx}"></td>
                        <td th:text="${l.mushroomTemperature}"></td>
                        <td th:text="${l.mushroomHumidity}"></td>
                        <td th:text="${l.mushroomOxygen}"></td>
                        <td th:text="${l.mushroomCo2}"></td>
                        <td th:text="${l.mushroomIlluminance}"></td>
                        <td th:text="${l.mushroomPh}"></td>
                        <td th:text="${l.mushroomUse}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>





