<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.mybatis.mapper.AcPurchaseMapper">
<select id="getAcPurchaseList" resultType="AcPurchase">
    SELECT
            accounting_purchase_idx 				AS accountingPurchaseIdx
            , company_idx				            AS companyIdx
            , inventory_idx		                    AS companyContract
            , company_contract_idx	                AS accountingPurchaseDate
            , accounting_purchase_date	            AS accountingPurchaseType
            , accounting_purchase_type	            AS accountingPurchaseType
            , accounting_purchase_unit_price		AS accountingPurchaseUnitPrice
            , accounting_purchase_amount	        AS accountingPurchaseAmount
            , accounting_purchase_payment		    AS accountingPurchasePayment
            , accounting_purchase_sum	            AS accountingPurchaseSum
            , admin_username		                AS adminUsername
            , accounting_purchase_update	    	AS accountingPurchaseUpdate
    FROM
             accounting_purchase
</select>

</mapper>