<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" th:fragment="sidebarFragment">
	<div class="menu_section">
		<ul class="nav side-menu">
			<li><a><i class="fa fa-home"></i> Home <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">소개</a></li>
					<li><a href="#">공지사항</a></li>
				</ul></li>
			<li><a><i class="fa fa-adn"></i> 관리자페이지 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a><i class="fa fa-group"></i> 회원조회 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="#">회원 조회</a></li>
							<li><a th:href="@{/admin/listAdmin}" href="#">관리자 조회</a></li>
							<li><a th:href="@{/admin/addAdmin}" href="#">관리자 등록</a></li>
						</ul></li>
					<li><a><i class="fa fa-archive"></i> 사업자 관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="#">사업자 종류 코드</a></li>
							<li><a href="#">사업자 정보 조회</a></li>
							<li><a href="#">사업자 계약 신청관리</a></li>
							<li><a href="#">사업자 계약단가 등록</a></li>
						</ul></li>
					<li><a><i class="fa fa-cube"></i> 재고관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="#">재고물품관리</a></li>
							<li><a href="#">물품 입고 재고관리</a></li>
							<li><a href="#">물품 출고 재고관리</a></li>
						</ul></li>
					<li><a><i class="fa fa-coffee"></i> 카페사업자 관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="#">커피가루 수거신청 관리</a></li>
							<li><a href="#">커피가루 수거신청 확인관리</a></li>
							<li><a href="#">커피가루 배송관리</a></li>
						</ul></li>
					<li><a><i class="fa fa-tree"></i> 농가사업자 관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="#">커피배지 신청 관리</a></li>
							<li><a href="#">커피배지 신청확인 관리</a></li>
							<li><a href="#">커피배지 배송관리 관리</a></li>
							<li><a href="#">폐배지 수거신청 관리</a></li>
							<li><a href="#">폐배지 수거신청확인 관리</a></li>
							<li><a href="#">폐배지 수거배송관리 관리</a></li>
							<li><a href="#">작물 고유코드</a></li>
						</ul></li>
					<li><a><i class="fa fa-trash"></i> 폐배지구매 사업자 관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="#">폐배지 주문신청 관리</a></li>
							<li><a href="#">폐배지 주문신청확인 관리</a></li>
							<li><a href="#">폐배지 배송관리</a></li>
						</ul></li>
					<li><a><i class="fa fa-database"></i> 농가사업자 데이터 관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="#">버섯생육 최적조건 관리</a></li>
							<li><a href="#">버섯년별 생산량 등록조회</a></li>
							<li><a href="#">버섯재배 생산량 상세 등록조회</a></li>
							<li><a href="#">플렛폼 일일매출 조회</a></li>
							<li><a href="#">버섯 재배일지 조회</a></li>
						</ul></li>
					<li><a><i class="fa fa-money"></i> 사업자 매입매출관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="#">관리자 회계 매출자료</a></li>
							<li><a href="#">관리자 회계 매입자료</a></li>
						</ul></li>
				</ul></li>
			<li><a><i class="fa fa-mortar-board"></i> 게시판 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">자유게시판</a></li>
				</ul></li>
			<li><a><i class="fa fa-edit"></i> 사업자 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">사업자 정보등록</a></li>
					<li><a href="#">사업자 계약조회</a></li>
					<li><a href="#">사업자 계약단가 조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-coffee"></i> 카페사업자 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">커피가루 수거신청</a></li>
					<li><a href="#">커피가루 신청상태</a></li>
					<li><a href="#">커피가루 배송조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-tree"></i> 농가사업자 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">커피배지 신청</a></li>
					<li><a href="#">커피배지 신청상태</a></li>
					<li><a href="#">커피배지 배송조회</a></li>
					<li><a href="#">폐배지 수거신청</a></li>
					<li><a href="#">폐배지 수거신청상태</a></li>
					<li><a href="#">폐배지 수거배송조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-trash"></i> 폐배지구매 사업자 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">폐배지 주문신청</a></li>
					<li><a href="#">폐배지 주문상태</a></li>
					<li><a href="#">폐배지 배송조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-database"></i> 농가사업자 데이터 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">버섯생육 최적조건</a></li>
					<li><a href="#">버섯 년별 생산량</a></li>
					<li><a href="#">버섯재배 생산량 상세</a></li>
					<li><a href="#">일별 모든 사업자 매입비용</a></li>
					<li><a href="#">버섯 재배일지 등록</a></li>
				</ul></li>
			<li><a><i class="fa fa-question"></i> FAQ <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">고객센터</a></li>
				</ul></li>
		</ul>
	</div>
</div>

</html>