<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<head>
	
	</head>
	<th:block layout:fragment="customContent">
		<div class="page-title">
			<div class="title_center">

				<main>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h1 class="text-center my-5">폐기물에서 수확까지! 커피가루로 버섯을 재배하는 그린이코노미 플렛폼</h1>
								<p class="lead mb-5">
									저희 친환경 농사 플렛폼에 방문하신걸 환엽합니다. 저희 플렛폼은 지속가능한발전을 추구하는 친환경 플렛폼으로서,
									커피박을 활용해 버섯농살르 지원하는 사업을 진행하고있습니다.
								</p>
								<p class="text-center">
									<a href="#" class="btn btn-primary btn-lg">소개</a>
								</p>
							</div>
						</div>
					</div>
				</main>

			</div>
		</div>
	</th:block>
</html>