<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.farm.farmPastData.mapper.FarmPastDataMapper">

    <select id="getFarmPastData" resultType="ks46team01.farm.farmPastData.dto.FarmPastData">

        SELECT
        past_data_idx								AS pastDataIdx
        , company_info_idx						    AS companyInfoIdx
        , crop_idx									AS cropIdx
        , crop_type									AS	cropType
        , past_data_mushroom_production		        AS PastDataMushroomProduction
        , past_data_total_revenue				    AS	PastDataTotalRevenue
        , past_data_badge_use					    AS	PastDataBadgeUse
        , past_data_year							AS	PastDataYear
        , past_data_use							    AS	PastDataUse
        , past_data_comparison					    AS	PastDataComparison
        FROM
        past_data
    </select>
</mapper>